@font-face {
  font-family: 'GreatVibes-Regular';
  src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-display: swap;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/ChristmasImg.jpg') center/cover no-repeat;
  font-family: 'GreatVibes-Regular', cursive;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.quiz-container {
  width: 100%;
  max-width: 50rem;
  max-height: 95vh;
  padding: 3rem;
  background: rgba(100, 14, 14, 0.9);
  border-radius: 1.5rem;
  border: 0.12rem solid rgba(218, 165, 32, 0.643);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}

.question h2 {
  margin-bottom: 0.5rem;
  color: rgb(214, 254, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1.8rem, 6vw, 3rem);
  font-weight: 500;
}

.answers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 60rem;
}

.answer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.6rem, 5vw, 2.5rem);
  border: 0.10rem solid rgba(218, 165, 32, 0.42);
  border-radius: 5rem;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  background: transparent;
  word-wrap: break-word;
  text-align: center;
}

.answer:hover {
  background-color: rgba(177, 134, 27, 0.483);
}

.answer.correct {
  background-color: #35ca47;
}

.answer.wrong {
  background-color: #ff0000;
}

.quizState {
  font-size: clamp(1.4rem, 6vw, 2rem);
  margin-top: 0.5rem;
  color: rgb(214, 254, 253);
  font-weight: 500;
}

.final-score-heading {
    font-size: clamp(2.3rem, 10vw, 3rem);
}

.btn {
  padding: 0.8rem 1.4rem;
  border-radius: 5rem;
  border: 0.08rem dotted transparent;
  background: transparent;
  color: rgb(214, 254, 253);
  font-size: 3rem;
  cursor: pointer;
}

.btn:hover {
  border: 0.08rem dotted goldenrod;
  border-radius: 5rem;
}

@media (max-width: 40rem) {
  .answers-grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .answer {
    padding: 1rem;
    border-radius: 1.5rem;
  }

  .btn {
    padding: 0.5rem 1rem;
  }

  .quiz-container {
    padding: 1.5rem;
    max-height: 100vh;
  }
}